<div class="container mt-5">
    <div class="row">
      <p class="display-4 alert alert-warning text-center">Bed Information</p>
      <div class="col-4">
  
        <form (ngSubmit)="insertPreoperativeDiagnosis()" class="bg-info">
          <div>
            <label for="preoperativeDiagnosisName">Bed Number</label>
            <input id="preoperativeDiagnosisName" name="preoperativeDiagnosisName" type="text" [(ngModel)]="postPreoperativeDiagnosis.preoperativeDiagnosisName"  class="form-control" />
          </div>
          <div class="offset-5 mt-1">
            <button type="submit" class="btn btn-outline-primary">SAVE</button>
          </div>
        </form>
      </div>
      <div class="col-8">
        <table class="table table-bordered table-strip">
          <thead class="table table-primary">
            <tr>
              <th>Preoperative Diagnosis Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ok of preoperativeDiagnosis">
              <td>{{ok.preoperativeDiagnosisName}}</td>
              <td class="text-center">
                <a (click)="PopulateData(ok)" class="btn btn-primary mr-5">EDIT</a>
                <!-- <a (click)="deleteBed(ok.adviceId)" class="btn btn-danger">DELETE</a> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
